*, html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1300px;
}

.space {
    background-color: rgb(77, 77, 77);
    height: 1000px;
}

.main__div {
    /* width: 50%; */
    padding: 20px;
}

.main__div--right-side {
    border-radius: 10px;
    background-color: rgb(157, 209, 255);
}

